@use '../global/' as g;
.c-blog-list__item {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    @include g.sm {
        display: flex;
        align-items: center;
    }
}

.c-blog-list__item__date {
    color: g.$main_color2;
}
.c-blog-list__item__title {
    position: relative;
    font-size: 1rem;
    padding-left: 1rem;
    @include g.sm {
        margin-left: 5rem;
    }
}
.c-blog-list__item__title::before {
    content: '\e5cc';
    position: absolute;
    font-family: 'Material Symbols Outlined';
    top: 0;
    left: 0;
}