@use '../global/' as g;
.c-button {
  padding: .5rem 1rem;
  border-radius: 100vh;
  background: g.$main_color;
  color: g.$main_color_cont;
  border: 2px solid g.$main_color;
  transition: 300ms;
}
.c-button:hover {
  background: rgba($color: g.$main_color, $alpha: 0.5);
  color: g.$main_color;
}

.c-button--outline {
  background: g.$main_color_cont;
  border: 2px solid g.$main_color;
  color: g.$main_color;
}
.c-button--outline:hover {
  background: g.$main_color;
  color: g.$main_color_cont;
}