@use '../global/' as g;
.c-2cols, .c-3cols {
    @include g.sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    display: block;
}
.c-2cols--start, .c-3cols--start {
    @include g.sm {
        justify-content: flex-start;
    }
}
.c-2cols__col {
    @include g.sm {
        width: 50%;
    }
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}
.c-3cols__col {
    @include g.sm {
        width: 30%;
    }
    padding: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}