@use '../global/' as g;
.u-bg-main-alpha {
    background: rgba($color: g.$main_color, $alpha: 0.1);
}

.p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}

.fit-content {
    width: fit-content;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}