@use '../global/' as g;
.u-bg-main-alpha {
    background: rgba($color: g.$main_color, $alpha: 0.1);
}

.p-0 {
    padding: 0;
}
.p-4 {
    padding: 1rem;
}
.m-0 {
    margin: 0;
}

.fit-content {
    width: fit-content;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.border-main {
    border: 1px solid g.$main_color;
}
.border-2 {
  border-width: 2px;
}
.rounded {
    border-radius: 10px;
}

.arrow-icon {
  position: relative;
  padding-left: 1rem;
}
.arrow-icon::before {
    content: '\e5cf';
    font-family: "Material Symbols Outlined";
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 50%;
    color: g.$main_color2;
}