@use '../global/' as g;
.p-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid g.$base_color_cont;
    padding-top: 2rem;
}
.p-pagination__prev a,
.p-pagination__next a {
    color: g.$main_color;
    text-decoration: none !important;
}

.p-pagination__prev a::before {
    content: '\e5cb';
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
    border-radius: 50%;
    margin-right: .5rem;
    border: 1px solid g.$main_color2;
}
.p-pagination__next a::after {
    content: '\e5cc';
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
    border-radius: 50%;
    margin-left: .5rem;
    border: 1px solid g.$main_color2;
}