@use '../global/' as g;

.p-page__excerpt {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background: rgba($color: g.$main_color, $alpha: 0.1);
}

.p-page h2 {
    color: g.$main_color2;
    font-size: 1.5rem;
}

.p-page h3 {
    font-size: 1.5rem;
    color: g.$main_color;
}

.p-page ul {
    list-style: disc;
    list-style-position: inside;
}

.p-page a {
    color: g.$main_color2;
    text-decoration: underline g.$main_color;
}

.p-page table tr td {
    padding: 1rem 0;
    border: none;
    border-bottom: 1px solid g.$base_color_cont;
}

.p-page table tr td:first-child {
    font-weight: bold;
}

.p-page p {
    margin-bottom: 1.5rem;
}