@use '../global/' as g;

.p-page__excerpt {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background: rgba($color: g.$main_color, $alpha: 0.1);
}

.p-page h2 {
    color: g.$main_color;
    font-size: 1.5rem;
}

.p-page h3 {
    font-size: 1.5rem;
    color: g.$main_color;
}

.p-page ul {
    list-style: disc;
    list-style-position: inside;
}

.p-page a {
    color: g.$main_color2;
    // text-decoration: underline g.$main_color;
}

.p-page table tr {
    border-bottom: 1px solid g.$base_color_cont;

}
.p-page table tr td {
    padding: .5rem 0;
    border: none;
    display: block;
    @include g.sm {
        display: table-cell;
        padding: 1rem 0;
        width: 100px;
    }
}

.p-page table tr td:first-child {
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: top;
    width: 100%;
    @include g.sm {
        padding: 1rem 0;
        font-size: 1rem;
        width: 20%;
    }
}

.p-page table tr td:last-child {
    width: 100%;
    @include g.sm {
        width: 80%;
    }
}

.p-page p {
    margin-bottom: 1.5rem;
}

.p-page .custom-table {
    border: 2px solid #c9c9c9;
}
.p-page .custom-table tr td:first-child {
    background: #f7f7f7;
}

.p-page .custom-table-with-header {
    table-layout: fixed;
    width: 100%;
}
.p-page .custom-table-with-header th {
    padding: 0 !important;
    border: 1px solid rgba($color: g.$base_color_cont, $alpha: 0.3);
    text-align: center;
    background: rgba($color: g.$main_color, $alpha: 0.5);
    font-weight: bold;
}
.p-page .custom-table-with-header td:first-child {
    font-size: 1rem;
    font-weight: 500;
}
.p-page .custom-table-with-header td {
    display: table-cell !important;
    padding: 0 !important;
    border: 1px solid rgba($color: g.$base_color_cont, $alpha: 0.3);
    text-align: center;
}
