@use '../global/' as g;
.p-page-fv {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    color: g.$main_color_cont;
    text-align: center;
    text-shadow: 0 3px 5px #aaa;
    font-weight: 700;
    background: url("images/tiitle_bg_sp.webp") no-repeat center center/cover;
    @include g.sm {
        padding: 4rem 4rem;
        background: url("images/title_bg_about.webp") no-repeat center center/cover;
    }
}
.p-page-fv__title {
    margin-bottom: 1rem;
    color: g.$main_color_cont;
    font-size: 2rem;
    @include g.sm {
        font-size: 3rem;
    }
    padding: 1rem;
    border-bottom: 2px solid g.$main_color_cont;
}