@use '../global/' as g;
.footer {
  background: g.$main_color;
  color: g.$main_color_cont;
  padding: 3rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links li {
  padding: 1rem;
  font-size: 0.75rem;
}

.footer-links .sub-menu {
  list-style: disc;
  list-style-position: inside;
}
.footer-links .sub-menu li {
  background: none;
  padding: 0.5rem 0;
}

.footer-copyright {
  text-align: center;
  color: g.$main_color_cont;
  font-size: 0.8rem;
}