@use '../global/' as g;

.header {
  position: absolute;
  z-index: 9999;
  // background: g.$base_color;
  color: g.$base_color_cont;
  border-top: 3px solid #cfdc28;
  height: 90px;
  padding: 1rem;
  min-height: 80px;
  width: 100%;
}
.header-overlay {
  width: 100%;
  height: 90px;
}

