@use '../global/' as g;

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.p-gnav__links,
.p-gnav__links ul {
  list-style: none;
  padding: 0;
}

.p-gnav__links {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.p-gnav__links>li {
  position: relative;
  padding: .5rem;
  @include g.md {
    font-size: 0.75rem;
  }
}
.p-gnav__links a {
  position: relative;

}
.p-gnav__links .menu-item-has-children > a::after {
  content: '\e5cf';
  font-family: 'Material Symbols Outlined';
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.p-gnav__links>li>a {
  display: inline-block;
  padding: .5rem 1rem;
  text-decoration: none;
  // color: black;
  transition: 300ms;
}

.p-gnav__links>li a:hover {
  color: g.$main_color;
}

.p-gnav__links .sub-menu {
  background: none;
  color: g.$base_color_cont;

  @include g.md {
    // display: none;
    padding-left: 0;
    width: 200px;
    position: absolute;
    left: -50%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: 300ms;
  }
}

.p-gnav__links li:has(.sub-menu):hover .sub-menu {
  opacity: 1;
  height: auto;
}

.p-gnav__links .sub-menu li {
  @include g.md {
    background: g.$main_color2;
    color: g.$main_color_cont;
  }

  padding: 0;
}

.p-gnav__links .sub-menu li a {
  padding: .25rem;
  display: block;
}

.p-gnav__links .sub-menu li a:hover {
  color: g.$main_color_cont;
  opacity: 0.8;
}


.hamburger {
  display: none;
}

@media (max-width: 769px) {
  .p-gnav__links {
    display: none;
    // position: absolute;
    // background-color: white;
    // width: 100%;
    // top: 45px;
    // left: 0;
  }

  .sp-nav-container .p-gnav__links {
    display: block;
  }

  .p-gnav__links li {
    display: block;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background: g.$base_color;
    cursor: pointer;
    aspect-ratio: 1/1;
    border: 1px solid g.$base_color_cont;
  }

  .hamburger.following {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
}

.sp-nav-container {
  background: #FFF;
  // display: none;
  position: fixed;
  padding: 1rem;
  padding-top: 4rem;
  top: 0;
  left: 0;
  transform: translateX(100%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.sp-nav-container.active {
  display: block;
  transform: translateX(0);
}

.sp-nav-container .sub-menu {
  padding-left: 3rem;
}

.nav-close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 9999;
  font-size: 2rem;
}

.p-gnav__links--button > a {
  padding: .5rem 1rem;
  border-radius: 100vh;
  background: g.$main_color;
  color: g.$main_color_cont;
  border: 2px solid g.$main_color;
  transition: 300ms;
}
.p-gnav__links--button > a:hover {
  background: rgba($color: g.$main_color, $alpha: 0.5);
  color: g.$main_color;
}